@media all and (orientation : landscape) {
        #container {
            display: inline-block;
            width: 56.5%;
            height: 103.4vw;
        }
        #icon {
            margin: 62.8vw auto 0;
        }
    }

    @media all and (orientation : portrait) {
        #container {
            height: 100vh;
            position: absolute;
            width: 100vw;
        }
     #container {
           background: lime;
}

    .link { 
         background: gray;
         color: white;
  }